@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    color: #2e2e2e;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */

.user {
    background-color: rgb(215, 215, 215);
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px #2e2e2e;
}

.user h1 {
    margin: 0 0 10px 0;
}